@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

/* Tailwind v4 theme directive - linter may not recognize yet */
@theme {
  --color-raed: hsl(0, 100%, 68%);
  --color-darkBlue: hsl(230, 29%, 20%);
  --color-grayishBlue: hsl(230, 11%, 40%);
  --color-lightGrayishBlue: hsl(231, 7%, 65%);
  --font-barlow: "Barlow", sans-serif;
  --font-barlowCondensed: "Barlow Condensed", sans-serif;
}
body {
  background-image: url(./images/Rectangle3.jpg);
  background-repeat: no-repeat;
  background-position: top right;

  min-height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    background-image: url(./images/Rectangle32.jpg);
  }
}
